<form>
	<p>
		<label for="input-title">Title:</label>
		<input id="input-title" type="text" ng-model="poll.title">
	</p>
	<p>
		<label for="input-desc">Description:</label><br>
		<textarea id="input-desc" ng-model="poll.description"></textarea>
	</p>
	<!-- items -->
	<p>Items:<p>
	<div>
		<ul>
			<li ng-repeat="item in poll.items">
				<input type="text" ng-model="item.text" value="{{item.text}}">
			</li>
		</ul>
		<button ng-click="poll.items.push({})">Add item</button>
	</div>
	<button ng-click="submit(poll)">Submit</button>
</form>
