<h3>{{poll.title}}</h3>
<p>{{poll.description}}</p>

<div ng-if="!hasVoted">
	<h4>Vote</h4>
	<form>
		<div ng-repeat="item in poll.items">
			<input type="radio" ng-model="poll.vote" value="{{$index}}" id="item-{{$index}}">
			<label for="item-{{$index}}">{{item.text}}</label>
		</div>
		<button ng-click="vote(poll)">Vote</button>
	</form>
</div>

<div ng-if="hasVoted || ownsPoll(poll)">
	<h4>Results</h4>
	<ul>
		<li ng-repeat="item in poll.items">
			{{item.text}}<br>
			{{'|'.repeat(item.percentage * 50)}} {{item.votes}}
		</li>
	</ul>
</div>
<button ng-if="ownsPoll(poll)" ng-click="delete(poll)">Delete</button>
